body {
    background-color: rgb(235, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h1 {
    background-color: rgb(104, 241, 250);
    }